
@import url("https://fonts.google.com/specimen/Anek+Tamil"); 

@import url("https://fonts.google.com/specimen/Noto+Serif+Thai"); 


body {

    max-width: 100%; 
    margin: 20px 100px 20px 100px; 

}


/* Definere layout for nettsiden - bruker CSS grid */

.grid-boks {

        display: grid; 
        grid-template-columns: 1fr 1fr 0.5fr 0.7fr 0.2fr;
        grid-template-rows: 0.2fr 1fr 0.5fr 1fr 0.2fr;  
        grid-template-areas:  

        "header header header header header"
        "image image sidebar sidebar ."
        "image image sidebar sidebar ."
        "main main sidebar sidebar ."
        ". pagination . . .";

    row-gap: 2%;
    

}

.tittel {

    grid-row: 1; 
    grid-column: 1 / 6;
    z-index: 1;

}

.bildet {

    grid-row: 2 / 4; 
    grid-column: 1 / 5;
    z-index: -1;
    justify-self: left;
    align-self: start;
    z-index: -2;

}

.sidefelt {

    grid-row: 2 / 6; 
    grid-column: 3 / 5; 
    z-index: 2;

}

.snakkebobler { 

    grid-row-start: 4;
    grid-row-end: 4; 
    grid-column-start: 1;
    grid-column-end: 5;
    align-self: center;
    justify-self: center;
    z-index: 4;

}

.paginering {

    grid-row: 7/8; 
    grid-column-start: 2; 
    z-index: 1;

}

/* Styling av 1. objekt */ 

/* Paginering */

.startsiden {

    padding: 8px 16px; 
    list-style-type: none; 
    background-color: none;

}

/* Lista - skal etterligne html element <nav> */ 

ul.startsiden li { display: inline; }

ul.startsiden li+li:before {

    padding: 8px; 
    color: rgb(0, 0, 0);
    content: "\007C"; 

}

/* Fargelegg lenker som ligger i lista */

ul.startsiden li a {

    text-decoration: none; 
    color: rgb(0, 0, 0); 

}


/* Styling av bildet */

img {
	
	border: solid 1px transparent;
	border-radius: 50%;
	position: absolute;
	
}


/* Styling av border for lista */

#høyre {
	
	float: right;
	padding: 40px;
	border:solid 1px rgb(230, 230, 230);
	background-color: rgb(230, 230, 230);
	width: 80%;
	border-radius: 5px;
    height: 1250px;
}

/* Styling av lista fra s. 27 */ 

aside > h3 {

    text-align: center;
    font-family: "Anek Tamil", sans-serif;
    font-size: 24px; 
    margin-top: 0;
    margin-bottom: 2px;

}

.innhold b {

    font-family: "Anek Tamil", sans-serif; 
    font-size: 15px; 

}

.aside .innhold p {

    margin: 0; 
    padding: 10;

}

.innhold {

    display: inline-flex; 
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    margin: 0; 
    padding-left: 13px;

    font-family: "Noto Thai Serif", serif; 
    font-size: 18px;

}

.punktvis {

    display: inline-flex; 
    position: absolute;
    align-items: center; 
    justify-content: center; 
    width: 70px;
    height: 70px; 
    border-radius: 50%; 

    font-family: "Anek Tamil", sans-serif;
    font-size: 50px; 
    font-weight: 900;

    background-color:#E5AD4C; 
    color: #fff; 
    transform: translate(-210px, 0);

}


/* Her ligger innhold fra Q &A */

/* 4/5 - Snakkeboble */

.bubbles-1-page-2 { display: flex; margin: 5px auto; }

.speech-bubble1-page-2 {

	position: relative;
	background: #247DA5;
	border-radius: .4em;
    font-family: "Anek Tamil", sans-serif;
    color: #FFF;
    width: 200px;
    text-align:left;
    height: 80px;
    line-height: 25px;
    margin-bottom: 50px;
    margin-right: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;

}

.speech-bubble1-page-2:after {

	content: '';
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #247DA5;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;

}

.speech-bubble1-2-page-2 {

	position: relative;
	background: #fff3cc;
	border-radius: .4em;
	border: 2px solid #E5AD4C;
    font-family: "Anek Tamil", sans-serif;
    color: rgb(5, 5, 5);
    width: 470px;
    text-align:left;
    height: 160px;
    margin-bottom: 50px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 10px;
	line-height: 25px;
    
}

.speech-bubble1-2-page-2:after {

	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #38454e;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;
    z-index: -2;

}


/* 5/5 - Snakkeboble */

.bubbles-2-page-2 { display: flex; }

.speech-bubble2-page-2 {

	position: relative;
	background: #247DA5;
	border-radius: .4em;
    font-family: "Anek Tamil", sans-serif;
    color: #FFF;
    width: 200px;
    text-align:left;
    height: 80px;
    line-height: 25px;
    margin-bottom: 50px;
    margin-right: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;

}

.speech-bubble2-page-2:after {

	content: '';
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #247DA5;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;

}

.speech-bubble2-2-page-2 {

	position: relative;
	background: #fff3cc;
	border-radius: .4em;
	border: 2px solid #E5AD4C;
    font-family: "Anek Tamil", sans-serif;
    color: rgb(5, 5, 5);
    width: 550px;
    text-align:left;
    height: 230px;
    line-height: 25px;
    margin-bottom: 50px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 10px;

}

.speech-bubble2-2-page-2:after {

	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #38454e;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;
    z-index: -2;

}


/* Paginering til neste side */

.pagination {

    background-color: #FFF;
    display: inline-block; 
    text-align: center;

}


.pagination a {

    color: #000000; 
    float: left;
    padding: 8px 16px; 
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;

}

.pagination a.active {

    background-color: #4CAF50; 
    color: white; 
    border: 1px solid #4CAF50;

}



